<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link href="startpage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="startpage/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="startpage/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
    h1{color: #fff;}</style>
  </head>
  <body>
  <section id="contact">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Registration Details
        <div class="signup-wall">
          <form action="/signup" method="POST" class="form-signin">
          <br>
            <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
            <input type="password" name="password" placeholder="Password" required="required" class="form-control nomargin"/>
            <input type="email" name="email" placeholder="Email" required="required" class="form-control"/>
            <input type="text" name="firstName" placeholder="First Name" required="required" class="form-control"/>
            <input type="text" name="lastName" placeholder="Last Name" required="required" class="form-control"/>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button><span class="clearfix"></span>
          </form>
        </div>
        <div id="message">
        </div>
      </h1>
    </div>
  </div>
</div>
  </section>
  </body>
</html>

