<!DOCTYPE html>
<html>
  <head>
    <title></title>
     <!-- Bootstrap Core CSS -->
    <link href="startpage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="startpage/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="startpage/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
          <form action="/login" method="POST" class="form-signin">
            <input type="text" name="username" placeholder="Email" required="required" autofocus="autofocus" class="form-control"/>
            <input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button><span class="clearfix"></span>
          </form>
        </div><a href="/signup" class="text-center new-account">Create an account</a>
        <div id="message"></div>
    </div>
  </div>
</div>
  </body>
</html>

